GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REDIRECT_URI=https://email-automation-ai-agent.onrender.com/api/auth/google/callback

OPENROUTER_API_KEY=your_openrouter_api_key_here
OPENROUTER_MODEL=your_openrouter_model_here

RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here
RAZORPAY_WEBHOOK_SECRET=your_razorpay_webhook_secret_here

DATABASE_URL=postgresql://postgres:Kaushalsumu@db.yinyvosgpbsclfloebaa.supabase.co:5432/postgres

JWT_SECRET=your_jwt_secret_here
TOKEN_ENCRYPTION_KEY=your_token_encryption_key_here
FRONTEND_URL=https://https://mailpilotai.theworkpc.com
